@import "../node_modules/leaflet/dist/leaflet.css";

.App {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  display: flex;
}

#map {
  height: 90vh;
  width: 70vw;
  margin: 5vh 5vw 5vh 25vw;
}

#info-sheet {
  position: absolute;
  left: 10vw;
  top: 20vh;
  height: 200px;
  width: 200px;
  background-color: green;
}

#hidden {
  display: hidden;
}
